In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [4]:
data = pd.read_sas('/Users/damiencombe/LLCP2021.xpt', encoding='latin-1')
%time

/Users/damiencombe/anaconda3/lib/python3.11/site-packages/pandas/io/sas/sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 13.1 µs

In [5]:
data.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHON1,LADULT1,COLGSEX,NUMADULT,LANDSEX,NUMMEN,NUMWOMEN,RESPSLCT,SAFETIME,CTELNUM1,CELLFON5,CADULT1,CELLSEX,PVTRESD3,CCLGHOUS,CSTATE1,LANDLINE,HHADULT,SEXVAR,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,PRIMINSR,PERSDOC3,MEDCOST1,CHECKUP1,EXERANY2,BPHIGH6,BPMEDS,CHOLCHK3,TOLDHI3,CHOLMED3,CVDINFR4,CVDCRHD4,CVDSTRK3,ASTHMA3,ASTHNOW,CHCSCNCR,CHCOCNCR,CHCCOPD3,ADDEPEV3,CHCKDNY2,DIABETE4,DIABAGE3,HAVARTH5,ARTHEXER,ARTHEDU,LMTJOIN3,ARTHDIS2,JOINPAI2,MARITAL,EDUCA,RENTHOM1,NUMHHOL3,NUMPHON3,CPDEMO1B,VETERAN3,EMPLOY1,CHILDREN,INCOME3,PREGNANT,WEIGHT2,HEIGHT3,DEAF,BLIND,DECIDE,DIFFWALK,DIFFDRES,DIFFALON,SMOKE100,SMOKDAY2,USENOW3,ECIGNOW1,ALCDAY5,AVEDRNK3,DRNK3GE5,MAXDRNKS,FLUSHOT7,FLSHTMY3,IMFVPLA2,PNEUVAC4,HIVTST7,HIVTSTD3,FRUIT2,FRUITJU2,FVGREEN1,FRENCHF1,POTATOE1,VEGETAB2,PDIABTST,PREDIAB1,INSULIN1,BLDSUGAR,FEETCHK3,DOCTDIAB,CHKHEMO3,FEETCHK,EYEEXAM1,DIABEYE,DIABEDU,TOLDCFS,HAVECFS,WORKCFS,TOLDHEPC,TRETHEPC,PRIRHEPC,HAVEHEPC,HAVEHEPB,MEDSHEPB,HPVADVC4,HPVADSHT,TETANUS1,SHINGLE2,LCSFIRST,LCSLAST,LCSNUMCG,LCSCTSCN,HADMAM,HOWLONG,CERVSCRN,CRVCLCNC,CRVCLPAP,CRVCLHPV,HADHYST2,PSATEST1,PSATIME1,PCPSARS2,PCSTALK,HADSIGM4,COLNSIGM,COLNTES1,SIGMTES1,LASTSIG4,COLNCNCR,VIRCOLO1,VCLNTES1,SMALSTOL,STOLTEST,STOOLDN1,BLDSTFIT,SDNATES1,CNCRDIFF,CNCRAGE,CNCRTYP1,CSRVTRT3,CSRVDOC1,CSRVSUM,CSRVRTRN,CSRVINST,CSRVINSR,CSRVDEIN,CSRVCLIN,CSRVPAIN,CSRVCTL2,HOMBPCHK,HOMRGCHK,WHEREBP,SHAREBP,WTCHSALT,DRADVISE,CIMEMLOS,CDHOUSE,CDASSIST,CDHELP,CDSOCIAL,CDDISCUS,CAREGIV1,CRGVREL4,CRGVLNG1,CRGVHRS1,CRGVPRB3,CRGVALZD,CRGVPER1,CRGVHOU1,CRGVEXPT,ACEDEPRS,ACEDRINK,ACEDRUGS,ACEPRISN,ACEDIVRC,ACEPUNCH,ACEHURT1,ACESWEAR,ACETOUCH,ACETTHEM,ACEHVSEX,ACEADSAF,ACEADNED,MARIJAN1,USEMRJN3,RSNMRJN2,LASTSMK2,STOPSMK2,FIREARM5,GUNLOAD,LOADULK2,RCSGENDR,RCSRLTN2,CASTHDX2,CASTHNO2,BIRTHSEX,SOMALE,SOFEMALE,TRNSGNDR,QSTVER,QSTLANG,_METSTAT,_URBSTAT,MSCODE,_STSTR,_STRWT,_RAWRAKE,_WT2RAKE,_IMPRACE,_CHISPNC,_CRACE1,_CPRACE1,CAGEG,_CLLCPWT,_DUALUSE,_DUALCOR,_LLCPWT2,_LLCPWT,_RFHLTH,_PHYS14D,_MENT14D,_HLTHPLN,_HCVU652,_TOTINDA,_RFHYPE6,_CHOLCH3,_RFCHOL3,_MICHD,_LTASTH1,_CASTHM1,_ASTHMS1,_DRDXAR3,_LMTACT3,_LMTWRK3,_PRACE1,_MRACE1,_HISPANC,_RACE,_RACEG21,_RACEGR3,_RACEPRV,_SEX,_AGEG5YR,_AGE65YR,_AGE80,_AGE_G,HTIN4,HTM4,WTKG3,_BMI5,_BMI5CAT,_RFBMI5,_CHLDCNT,_EDUCAG,_INCOMG1,_SMOKER3,_RFSMOK3,_CURECI1,DRNKANY5,DROCDY3_,_RFBING5,_DRNKWK1,_RFDRHV7,_FLSHOT7,_PNEUMO3,_AIDTST4,FTJUDA2_,FRUTDA2_,GRENDA1_,FRNCHDA_,POTADA1_,VEGEDA2_,_MISFRT1,_MISVEG1,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,01192021,01,19,2021,1100.0,2021000001,2.021000e+09,1.0,1.0,NaN,1.0,2.0,1.0,NaN,2.0,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,20.0,10.0,88.0,3.0,1.0,2.0,2.0,2.0,3.0,NaN,2.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,3.0,NaN,1.0,2.0,2.0,2.0,1.0,8.0,1.0,4.0,1.0,1.0,1.0,1.0,2.0,7.0,88.0,5.0,NaN,72.0,411.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,3.0,3.0,888.0,NaN,NaN,NaN,1.0,92020.0,1.0,1.0,2.0,NaN,101.0,555.0,204.0,203.0,201.0,101.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,1.0,1.0,1.0,1.0,11011.0,39.766158,2.0,79.532315,1.0,9.0,NaN,NaN,NaN,NaN,1.0,0.519019,874.242902,744.745531,2.0,3.0,2.0,1.0,9.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,11.0,2.0,70.0,6.0,59.0,150.0,3266.0,1454.0,1.0,1.0,1.0,2.0,3.0,3.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0,5.397605e-79,100.0,5.700000e+01,4.300000e+01,14.0,100.0,5.397605e-79,5.397605e-79,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
1,1.0,1.0,01212021,01,21,2021,1100.0,2021000002,2.021000e+09,1.0,1.0,NaN,1.0,2.0,1.0,NaN,2.0,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,88.0,88.0,NaN,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,1.0,1.0,98.0,1.0,1.0,2.0,1.0,1.0,10.0,9.0,6.0,1.0,2.0,NaN,1.0,2.0,8.0,88.0,77.0,NaN,7777.0,506.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,NaN,3.0,3.0,888.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,101.0,555.0,201.0,555.0,201.0,207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,1.0,1.0,1.0,2.0,11011.0,39.766158,2.0,79.532315,2.0,9.0,NaN,NaN,NaN,NaN,1.0,0.519019,874.242902,299.137394,1.0,1.0,1.0,1.0,9.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,10.0,2.0,67.0,6.0,66.0,168.0,NaN,NaN,NaN,9.0,1.0,4.0,9.0,4.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0,5.397605e-79,100.0,1.400000e+01,5.397605e-79,14.0,100.0,5.397605e-79,5.397605e-79,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
2,1.0,1.0,01212021,01,21,2021,1100.0,2021000003,2.021000e+09,1.0,1.0,NaN,1.0,2.0,1.0,NaN,2.0,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,88.0,88.0,NaN,2.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,1.0,98.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,4.0,1.0,2.0,NaN,1.0,2.0,7.0,88.0,3.0,NaN,170.0,505.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,3.0,3.0,888.0,NaN,NaN,NaN,2.0,NaN,NaN,2.0,2.0,NaN,101.0,555.0,555.0,201.0,201.0,203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,1.0,1.0,1.0,1.0,11011.0,39.766158,2.0,79.532315,2.0,9.0,NaN,NaN,NaN,NaN,1.0,0.519019,874.242902,587.862986,1.0,1.0,1.0,1.0,9.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,3.0,2.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,11.0,2.0,72.0,6.0,65.0,165.0,7711.0,2829.0,3.0,2.0,1.0,2.0,2.0,4.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,2.0,2.0,2.0,5.397605e-79,100.0,5.397605e-79,1.400000e+01,14.0,43.0,5.397605e-79,5.397605e-79,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,5.397605e-79,5.397605e-79
3,1.0,1.0,01172021,01,17,2021,1100.0,2021000004,2.021000e+09,1.0,1.0,NaN,1.0,2.0,1.0,NaN,2.0,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,88.0,10.0,88.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,1.0,56.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,4.0,1.0,2.0,NaN,1.0,2.0,7.0,88.0,7.0,NaN,195.0,504.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,3.0,3.0,101.0,3.0,1.0,6.0,1.0,102020.0,1.0,2.0,2.0,NaN,203.0,205.0,303.0,204.0,308.0,205.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,2.0,2.0,2.0,2.0,1.0,3.0,1.0,1.0,1.0,1.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,1.0,1.0,1.0,3.0,11011.0,39.766158,2.0,79.532315,1.0,9.0,NaN,NaN,NaN,NaN,1.0,0.519019,874.242902,1099.621573,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,3.0,2.0,3.0,3.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,9.0,1.0,62.0,5.0,64.0,163.0,8845.0,3347.0,4.0,2.0,1.0,2.0,5.0,4.0,1.0,1.0,1.0,1.400000e+01,2.0,3.000000e+02,1.0,NaN,NaN,2.0,7.100000e+01,43.0,1.000000e+01,5.700000e+01,27.0,71.0,5.397605e-79,5.397605e-79,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79
4,1.0,1.0,01152021,01,15,2021,1100.0,2021000005,2.021000e+09,1.0,1.0,NaN,1.0,2.0,1.0,NaN,2.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,30.0,88.0,30.0,3.0,1.0,2.0,1.0,1.0,4.0,NaN,2.0,1.0,1.0,1.0,7.0,1.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,1.0,65.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,3.0,1.0,2.0,NaN,8.0,2.0,8.0,88.0,4.0,NaN,206.0,511.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,NaN,2.0,3.0,888.0,NaN,NaN,NaN,1.0,92020.0,1.0,1.0,1.0,777777.0,101.0,555.0,101.0,202.0,202.0,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,1.0,2.0,1.0,2.0,11011.0,39.766158,2.0,79.532315,6.0,9.0,NaN,NaN,NaN,NaN,9.0,NaN,2144.768999,1711.825866,2.0,3.0,1.0,1.0,9.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,3.0,2.0,3.0,3.0,1.0,7.0,2.0,7.0,2.0,4.0,7.0,1.0,12.0,2.0,76.0,6.0,71.0,180.0,9344.0,2873.0,3.0,2.0,1.0,1.0,2.0,4.0,1.0,1.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,1.0,5.397605e-79,100.0,1.000000e+02,2.900000e+01,29.0,100.0,5.397605e-79,5.397605e-79,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,5.397605e-79,5.397605e-79

In [6]:
data.shape

(438693, 303)

After reading the description of each column (https://www.cdc.gov/brfss/annual_data/2021/pdf/codebook21_llcp-v2-508.pdf), I'm only going to keep the most intering.

In [4]:
df = data[['SEXVAR', '_AGE80', '_METSTAT', 'GENHLTH', '_IMPRACE', 'INCOME3', '_EDUCAG', 'MEDCOST1', 'CHECKUP1','_RFHYPE6',
           'BPMEDS', 'CVDINFR4', 'CVDCRHD4', '_MICHD', 'CVDSTRK3', '_RFCHOL3', 'DIABETE4', 'INSULIN1', '_ASTHMS1',
           'ADDEPEV3', '_SMOKER3', 'DROCDY3_', 'FRNCHDA_', '_FRUTSU1', '_VEGESU1', '_TOTINDA', '_LMTACT3']]

In [7]:
df.head()

,SEXVAR,_AGE80,_METSTAT,GENHLTH,_IMPRACE,INCOME3,_EDUCAG,MEDCOST1,CHECKUP1,_RFHYPE6,BPMEDS,CVDINFR4,CVDCRHD4,_MICHD,CVDSTRK3,_RFCHOL3,DIABETE4,INSULIN1,_ASTHMS1,ADDEPEV3,_SMOKER3,DROCDY3_,FRNCHDA_,_FRUTSU1,_VEGESU1,_TOTINDA,_LMTACT3
0,2.0,70.0,1.0,5.0,1.0,5.0,2.0,2.0,2.0,1.0,NaN,2.0,2.0,2.0,2.0,2.0,3.0,NaN,1.0,2.0,3.0,5.397605e-79,4.300000e+01,100.0,214.0,2.0,2.0
1,2.0,67.0,1.0,3.0,2.0,77.0,4.0,2.0,1.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,NaN,3.0,2.0,4.0,5.397605e-79,5.397605e-79,100.0,128.0,1.0,1.0
2,2.0,72.0,1.0,2.0,2.0,3.0,2.0,2.0,1.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,NaN,3.0,2.0,4.0,5.397605e-79,1.400000e+01,100.0,71.0,2.0,3.0
3,2.0,62.0,1.0,2.0,1.0,7.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,3.0,2.0,4.0,1.400000e+01,5.700000e+01,114.0,165.0,1.0,3.0
4,1.0,76.0,2.0,5.0,6.0,4.0,1.0,2.0,1.0,1.0,NaN,1.0,7.0,1.0,1.0,2.0,1.0,NaN,3.0,2.0,4.0,5.397605e-79,2.900000e+01,100.0,258.0,1.0,3.0

### SEXVAR

1 Male\
2 Female

We need to treat the column as categorical to encode it later and replace 1 by 'M' and 2 by 'F'.

In [8]:
df.SEXVAR.value_counts(dropna=False)

2.0    234883
1.0    203810
Name: SEXVAR, dtype: int64

In [9]:
df.SEXVAR=np.where(df.SEXVAR.isin([1.0]),'M','F')

/Users/damiencombe/anaconda3/lib/python3.11/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
df.SEXVAR.value_counts(dropna=False)

F    234883
M    203810
Name: SEXVAR, dtype: int64

In [11]:
df.SEXVAR.dtype

dtype('O')

In [12]:
df = df.rename(columns={'SEXVAR':'sex'})

### _METSTAT

Metropolitan Status\

1 Metropolitan counties (population ≥ 50.000) \
2 Nonmetropolitan counties (population < 50.000 \
BLANK Not defined or Missing \
(https://metroextension.wsu.edu/defining-metropolitan/#:~:text=The%20RUCC%20is%20a%20classification,adjacency%20to%20a%20metro%20area.)

In [13]:
df._METSTAT.value_counts(dropna=False)

1.0    300372
2.0    131267
NaN      7054
Name: _METSTAT, dtype: int64

In [14]:
df._METSTAT = df._METSTAT.fillna('Unknown')

In [15]:
df._METSTAT.value_counts(dropna=False).index

Index([1.0, 2.0, 'Unknown'], dtype='object')

In [16]:
df._METSTAT=np.where(df._METSTAT.isin([1]),'≥ 50.000',df._METSTAT)

In [17]:
df._METSTAT=np.where(df._METSTAT.isin([2]),'< 50.000',df._METSTAT)

In [18]:
df._METSTAT.value_counts(dropna=False)

≥ 50.000    300372
< 50.000    131267
Unknown       7054
Name: _METSTAT, dtype: int64

In [19]:
df = df.rename(columns={'_METSTAT':'population'})

### GENHLTH

Would you say that in general your health is:\
1 Excellent \
2 Very good\
3 Good \
4 Fair \
5 Poor \
7 Don’t know/Not Sure \
9 Refused \
BLANK Not asked or Missing

In [20]:
df.GENHLTH.value_counts(dropna=False)

2.0    149112
3.0    137938
1.0     77741
4.0     54736
5.0     18005
7.0       788
9.0       369
NaN         4
Name: GENHLTH, dtype: int64

We ordinal encode it but for this we need to reverse the direction of the numbers so that 0 will be 'Don’t know/Not Sure, Refused, Not asked or Missing' and 5 'Excellent'.

In [21]:
df.GENHLTH = df.GENHLTH.fillna(0)

In [22]:
df.GENHLTH.isna().sum()

0

In [23]:
df.GENHLTH=np.where(df.GENHLTH.isin([7,9]),0,df.GENHLTH)

In [24]:
df.GENHLTH.value_counts(dropna=False)

2.0    149112
3.0    137938
1.0     77741
4.0     54736
5.0     18005
0.0      1161
Name: GENHLTH, dtype: int64

For 1, 2, 4 and 5, we need first to rename it otherwise if we replace 1 by 5 then everything will be 5 and we will not be able to replace 5 for 'poor' by 1. 3 remains 'good'.

In [25]:
df.GENHLTH=np.where(df.GENHLTH.isin([1]),'E',df.GENHLTH)

In [26]:
df.GENHLTH=np.where(df.GENHLTH.isin(['2.0']),'VG',df.GENHLTH)

In [27]:
df.GENHLTH=np.where(df.GENHLTH.isin(['4.0']),'F',df.GENHLTH)

In [28]:
df.GENHLTH=np.where(df.GENHLTH.isin(['5.0']),'P',df.GENHLTH)

In [29]:
df.GENHLTH.value_counts(dropna=False)

VG     149112
3.0    137938
E       77741
F       54736
P       18005
0.0      1161
Name: GENHLTH, dtype: int64

In [30]:
df.GENHLTH=np.where(df.GENHLTH.isin(['E']),5,df.GENHLTH)

In [31]:
df.GENHLTH=np.where(df.GENHLTH.isin(['VG']),4,df.GENHLTH)

In [32]:
df.GENHLTH=np.where(df.GENHLTH.isin(['F']),2,df.GENHLTH)

In [33]:
df.GENHLTH=np.where(df.GENHLTH.isin(['P']),1,df.GENHLTH)

In [34]:
df.GENHLTH.value_counts(dropna=False)

4      149112
3.0    137938
5       77741
2       54736
1       18005
0.0      1161
Name: GENHLTH, dtype: int64

In [35]:
df.GENHLTH.value_counts(dropna=False).index

Index([4, '3.0', 5, 2, 1, '0.0'], dtype='object')

In [36]:
df.GENHLTH = df.GENHLTH.astype(float)

In [37]:
df.GENHLTH.value_counts(dropna=False).index

Float64Index([4.0, 3.0, 5.0, 2.0, 1.0, 0.0], dtype='float64')

In [38]:
df = df.rename(columns={'GENHLTH':'general_health'})

### _INCOMG1
Income categories\
1 Less than 15,000\
2 15,000 to < 25,000\
3 25,000 to < 35,000\
4 35,000 to < 50,000\
5 50,000 to < 100,000\
6 100,000 to < 200,000\
7 200,000 or more\
9 Don’t know/Not sure/Missing

In [39]:
# df._INCOMG1.value_counts(dropna=False)

In [40]:
# df._INCOMG1.value_counts(dropna=False).index

In [41]:
# df._INCOMG1=np.where(df._INCOMG1.isin([1]),'< 15,000',df._INCOMG1)

In [42]:
# df._INCOMG1=np.where(df._INCOMG1.isin(['2.0']),'15,000 to < 25,000',df._INCOMG1)

In [43]:
# df._INCOMG1=np.where(df._INCOMG1.isin(['3.0']),'25,000 to < 35,000',df._INCOMG1)

In [44]:
# df._INCOMG1=np.where(df._INCOMG1.isin(['4.0']),'35,000 to < 50,000',df._INCOMG1)

In [45]:
# df._INCOMG1=np.where(df._INCOMG1.isin(['5.0']),'50,000 to < 100,000',df._INCOMG1)

In [46]:
# df._INCOMG1=np.where(df._INCOMG1.isin(['6.0']),'100,000 to < 200,000',df._INCOMG1)

In [47]:
# df._INCOMG1=np.where(df._INCOMG1.isin(['7.0']),'≥ 200,000',df._INCOMG1)

In [48]:
# df._INCOMG1=np.where(df._INCOMG1.isin(['9.0']),'Unknown',df._INCOMG1)

In [49]:
# df._INCOMG1.value_counts(dropna=False)

In [50]:
# df = df.rename(columns={'_INCOMG1':'income'})

### INCOME3
Annual household income from all sources\
1 Less than 10,000 \
2 Less than 15,000 (10,000 to < 15,000) \
3 Less than 20,000 (15,000 to < 20,000) \
4 Less than 25,000 (20,000 to < 25,000) \
5 Less than 35,000 (25,000 to < 35,000) \
6 Less than 50,000 (35,000 to < 50,000) \
7 Less than 75,000 (50,000 to < 75,000) \
8 Less than 100,000 (75,000 to < 100,000) \
9 Less than 150,000 (100,000 to < 150,000)\
10 Less than 200,000 (150,000 to < 200,000) \
11 200,000 or more \
77 Don’t know/Not sure \
99 Refused \
BLANK Not asked or Missing

In [51]:
df.INCOME3.value_counts(dropna=False)

7.0     59408
99.0    49428
6.0     48339
8.0     47838
9.0     47642
5.0     43893
77.0    36138
4.0     21071
10.0    19769
11.0    18952
3.0     14960
2.0     11530
1.0     10878
NaN      8847
Name: INCOME3, dtype: int64

In [52]:
df.INCOME3=np.where(df.INCOME3.isin([1,2]),'< 15.000',df.INCOME3)

In [53]:
df.INCOME3=np.where(df.INCOME3.isin(['3.0', '4.0']),'15,000 to < 25,000',df.INCOME3)

In [54]:
df.INCOME3=np.where(df.INCOME3.isin(['5.0']),'25,000 to < 35,000',df.INCOME3)

In [55]:
df.INCOME3=np.where(df.INCOME3.isin(['6.0']),'35,000 to < 50,000',df.INCOME3)

In [56]:
df.INCOME3=np.where(df.INCOME3.isin(['7.0']),'50,000 to < 75,000',df.INCOME3)

In [57]:
df.INCOME3=np.where(df.INCOME3.isin(['8.0']),'75,000 to < 100,000',df.INCOME3)

In [58]:
df.INCOME3=np.where(df.INCOME3.isin(['9.0']),'100,000 to < 150,000',df.INCOME3)

In [59]:
df.INCOME3=np.where(df.INCOME3.isin(['10.0', '11.0']),'≥ 150,000',df.INCOME3)

In [60]:
df.INCOME3=np.where(df.INCOME3.isin(['77.0', '99.0', 'nan']),'Unknown',df.INCOME3)

In [61]:
df.INCOME3.value_counts(dropna=False)

Unknown                 94413
50,000 to < 75,000      59408
35,000 to < 50,000      48339
75,000 to < 100,000     47838
100,000 to < 150,000    47642
25,000 to < 35,000      43893
≥ 150,000               38721
15,000 to < 25,000      36031
< 15.000                22408
Name: INCOME3, dtype: int64

In [62]:
df = df.rename(columns={'INCOME3':'income'})

### _EDUCAG
Level of education completed\
1 Did not graduate High School\
2 Graduated High School\
3 Attended College or Technical School\
4 Graduated from College or Technical School\
9 Don’t know/Not sure/Missing

In [63]:
df._EDUCAG.value_counts(dropna=False)

4.0    178577
3.0    120102
2.0    111545
1.0     25991
9.0      2478
Name: _EDUCAG, dtype: int64

In [64]:
df._EDUCAG=np.where(df._EDUCAG.isin([1]),'Did not graduate High School',df._EDUCAG)

In [65]:
df._EDUCAG=np.where(df._EDUCAG.isin(['2.0']),'Graduated High School',df._EDUCAG)

In [66]:
df._EDUCAG=np.where(df._EDUCAG.isin(['3.0']),'Attended College or Technical School',df._EDUCAG)

In [67]:
df._EDUCAG=np.where(df._EDUCAG.isin(['4.0']),'Graduated from College or Technical School',df._EDUCAG)

In [68]:
df._EDUCAG=np.where(df._EDUCAG.isin(['9.0']),'Unknown',df._EDUCAG)

In [69]:
df = df.rename(columns={'_EDUCAG':'education'})

In [70]:
df.education.value_counts(dropna=False)

Graduated from College or Technical School    178577
Attended College or Technical School          120102
Graduated High School                         111545
Did not graduate High School                   25991
Unknown                                         2478
Name: education, dtype: int64

### MEDCOST1

Was there a time in the past 12 months when you needed to see a doctor but could not because you could not
afford it?

1 Yes \
2 No \
7 Don’t know/Not sure \
9 Refused \
BLANK Not asked or Missing

In [71]:
df.MEDCOST1.value_counts(dropna=False)

2.0    404732
1.0     32597
7.0       962
9.0       397
NaN         5
Name: MEDCOST1, dtype: int64

We first replace NaN values by 7 and then we'll replace 7 and 9 by 'Unknown'.

In [72]:
df.MEDCOST1.value_counts(dropna=False).index

Float64Index([2.0, 1.0, 7.0, 9.0, nan], dtype='float64')

In [73]:
df.MEDCOST1 = df.MEDCOST1.fillna(7)

In [74]:
df.MEDCOST1.value_counts(dropna=False)

2.0    404732
1.0     32597
7.0       967
9.0       397
Name: MEDCOST1, dtype: int64

In [75]:
df.MEDCOST1.value_counts(dropna=False).index

Float64Index([2.0, 1.0, 7.0, 9.0], dtype='float64')

In [76]:
df.MEDCOST1 = np.where(df.MEDCOST1.isin([7,9]),'Unknown',df.MEDCOST1)

In [77]:
df.MEDCOST1.value_counts(dropna=False).index

Index(['2.0', '1.0', 'Unknown'], dtype='object')

In [78]:
df.MEDCOST1 = np.where(df.MEDCOST1.isin(['1.0']),'Could not afford to see a doctor',df.MEDCOST1)

In [79]:
df.MEDCOST1 = np.where(df.MEDCOST1.isin(['2.0']),'No problem to see a doctor',df.MEDCOST1)

In [80]:
df.MEDCOST1.value_counts(dropna=False)

No problem to see a doctor          404732
Could not afford to see a doctor     32597
Unknown                               1364
Name: MEDCOST1, dtype: int64

In [81]:
df = df.rename(columns={'MEDCOST1':'doctor_access'})

### CHECKUP1
About how long has it been since you last visited a doctor for a routine checkup? \
1 Within past year (anytime < 12 months ago) \
2 Within past 2 years (1 year but < 2 years ago) \
3 Within past 5 years (2 years but < 5 years ago) \
4 5 or more years ago \
7 Don’t know/Not sure \
8 Never \
9 Refused \
BLANK Not asked or Missing

In [82]:
df.CHECKUP1.value_counts(dropna=False)

1.0    337289
2.0     51271
3.0     23427
4.0     18490
7.0      5233
8.0      2311
9.0       670
NaN         2
Name: CHECKUP1, dtype: int64

Since there are only 2 NaN values and they can interfer with what come next, we drop the rows.

In [83]:
df = df.dropna(subset=['CHECKUP1'])

In [84]:
df.CHECKUP1.value_counts(dropna=False)

1.0    337289
2.0     51271
3.0     23427
4.0     18490
7.0      5233
8.0      2311
9.0       670
Name: CHECKUP1, dtype: int64

Then we keep only 2 categories : 'No chek up within the last year' and 'Chek up within the last year'.

In [85]:
df.CHECKUP1 = np.where(df.CHECKUP1.isin([2,3,4,7,8,9]),'No chek up within the last year','Chek up within the last year')

In [86]:
df.CHECKUP1.value_counts(dropna=False)

Chek up within the last year       337289
No chek up within the last year    101402
Name: CHECKUP1, dtype: int64

In [87]:
df = df.rename(columns={'CHECKUP1':'checkup'})

### _RFHYPE6
Adults who have been told they have high blood pressure by a doctor, nurse, or other health professional\
1 No\
2 Yes\
9 Don’t know/Not Sure/Refused/Missing

In [88]:
df._RFHYPE6.value_counts(dropna=False)

1.0    264648
2.0    172133
9.0      1910
Name: _RFHYPE6, dtype: int64

In [89]:
df._RFHYPE6 = np.where(df._RFHYPE6.isin([1]),'No', df._RFHYPE6)

In [90]:
df._RFHYPE6 = np.where(df._RFHYPE6.isin(['2.0']),'Yes', df._RFHYPE6)

In [91]:
df._RFHYPE6 = np.where(df._RFHYPE6.isin(['9.0']),'Unknown', df._RFHYPE6)

In [92]:
df._RFHYPE6.value_counts(dropna=False)

No         264648
Yes        172133
Unknown      1910
Name: _RFHYPE6, dtype: int64

In [93]:
df = df.rename(columns={'_RFHYPE6':'hypertension'})

### BPMEDS
Are you currently taking medicine for your high blood pressure?\
1 Yes \
2 No \
7 Don’t know/Not Sure \
9 Refused \
BLANK Not asked

In [94]:
df.BPMEDS.value_counts(dropna=False)

NaN    266558
1.0    142417
2.0     29257
7.0       296
9.0       163
Name: BPMEDS, dtype: int64

From the description, the question has been asked only to people who have high blood pressure so 'blank' can be considered as 'no'.

In [95]:
df.BPMEDS = df.BPMEDS.fillna(2)

In [96]:
df.BPMEDS = np.where(df.BPMEDS.isin([1]),'Yes', df.BPMEDS)

In [97]:
df.BPMEDS = np.where(df.BPMEDS.isin(['2.0']),'No', df.BPMEDS)

In [98]:
df.BPMEDS = np.where(df.BPMEDS.isin(['7.0', '9.0']),'Unknown', df.BPMEDS)

In [99]:
df.BPMEDS.value_counts(dropna=False)

No         295815
Yes        142417
Unknown       459
Name: BPMEDS, dtype: int64

In [100]:
df = df.rename(columns={'BPMEDS':'anti_hypertensive'})

### CVDINFR4
Have you ever had a heart attack?\
1 Yes\
2 No\
7 Don’t know/Not sure\
9 Refused\
BLANK Not asked or Missing

In [101]:
df.CVDINFR4.value_counts(dropna=False)

2.0    413207
1.0     22831
7.0      2319
9.0       334
Name: CVDINFR4, dtype: int64

In [102]:
df.CVDINFR4 = np.where(df.CVDINFR4.isin([1]),'Yes', df.CVDINFR4)

In [103]:
df.CVDINFR4 = np.where(df.CVDINFR4.isin(['2.0']),'No', df.CVDINFR4)

In [104]:
df.CVDINFR4 = np.where(df.CVDINFR4.isin(['7.0','9.0']),'Unknown', df.CVDINFR4)

In [105]:
df.CVDINFR4.value_counts(dropna=False)

No         413207
Yes         22831
Unknown      2653
Name: CVDINFR4, dtype: int64

In [106]:
df = df.rename(columns={'CVDINFR4':'heart_attack'})

### CVDCRHD4
Ever told you had angina or coronary heart disease?\
1 Yes \
2 No \
7 Don’t know/Not sure \
9 Refused \
BLANK Not asked or Missing

In [107]:
df.CVDCRHD4.value_counts(dropna=False)

2.0    411527
1.0     22891
7.0      3934
9.0       339
Name: CVDCRHD4, dtype: int64

In [108]:
df.CVDCRHD4 = np.where(df.CVDCRHD4.isin([1]),'Yes', df.CVDCRHD4)

In [109]:
df.CVDCRHD4 = np.where(df.CVDCRHD4.isin(['2.0']),'No', df.CVDCRHD4)

In [110]:
df.CVDCRHD4 = np.where(df.CVDCRHD4.isin(['7.0', '9.0']),'Unknown', df.CVDCRHD4)

In [111]:
df.CVDCRHD4.value_counts(dropna=False)

No         411527
Yes         22891
Unknown      4273
Name: CVDCRHD4, dtype: int64

In [112]:
df = df.rename(columns={'CVDCRHD4':'coronary_disease'})

### _MICHD
Have you ever reported having coronary heart disease (CHD) or myocardial infarction (MI) ?\
1 Reported having MI or CHD\
2 Did not report having MI or CHD\
BLANK Not asked or Missing

In [113]:
df._MICHD.value_counts(dropna=False)

2.0    398735
1.0     35323
NaN      4633
Name: _MICHD, dtype: int64

In [114]:
df._MICHD = df._MICHD.fillna('Unknown')

In [115]:
df._MICHD = np.where(df._MICHD.isin([1]),'Yes', df._MICHD)

In [116]:
df._MICHD = np.where(df._MICHD.isin(['2.0']),'No', df._MICHD)

In [118]:
df = df.rename(columns={'_MICHD':'heart_disease'})

In [221]:
df.heart_disease.value_counts(dropna=False)

No         398734
Yes         35323
Unknown      4633
Name: heart_disease, dtype: int64

### CVDSTRK3
Ever had a stroke?\
1 Yes \
2 No \
7 Don’t know/Not sure \
9 Refused \
BLANK Not asked or Missing

In [119]:
df.CVDSTRK3.value_counts(dropna=False)

2.0    420051
1.0     17213
7.0      1130
9.0       297
Name: CVDSTRK3, dtype: int64

In [120]:
df.CVDSTRK3 = np.where(df.CVDSTRK3.isin([1]),'Yes', df.CVDSTRK3)

In [121]:
df.CVDSTRK3 = np.where(df.CVDSTRK3.isin(['2.0']),'No', df.CVDSTRK3)

In [122]:
df.CVDSTRK3 = np.where(df.CVDSTRK3.isin(['7.0', '9.0']),'Unknown', df.CVDSTRK3)

In [123]:
df.CVDSTRK3.value_counts(dropna=False)

No         420051
Yes         17213
Unknown      1427
Name: CVDSTRK3, dtype: int64

In [124]:
df = df.rename(columns={'CVDSTRK3':'stroke'})

### _RFCHOL3
Adults who have had their cholesterol checked and have been told by a doctor, nurse, or other health
professional that it was high\
1 No\
2 Yes\
9 Don’t know/Not Sure Or Refused/Missing\
BLANK Missing

In [125]:
df._RFCHOL3.value_counts(dropna=False)

1.0    224706
2.0    149698
NaN     61149
9.0      3138
Name: _RFCHOL3, dtype: int64

In [126]:
df._RFCHOL3 = df._RFCHOL3.fillna(9)

In [127]:
df._RFCHOL3.value_counts(dropna=False).index

Float64Index([1.0, 2.0, 9.0], dtype='float64')

In [128]:
df._RFCHOL3 = np.where(df._RFCHOL3.isin([1]),'No', df._RFCHOL3)

In [129]:
df._RFCHOL3 = np.where(df._RFCHOL3.isin(['2.0']),'Yes', df._RFCHOL3)

In [130]:
df._RFCHOL3 = np.where(df._RFCHOL3.isin(['9.0']),'Unknown', df._RFCHOL3)

In [131]:
df._RFCHOL3.value_counts(dropna=False)

No         224706
Yes        149698
Unknown     64287
Name: _RFCHOL3, dtype: int64

In [132]:
df = df.rename(columns={'_RFCHOL3':'cholesterol'})

### DIABETE4
Ever told you had diabetes? (If ´Yes´ and respondent is female, ask ´Was this only when you were
pregnant?´. If Respondent says pre-diabetes or borderline diabetes, use response code 4.)\
1 Yes \
2 Yes, but female told only during pregnancy\
3 No\
4 No, pre-diabetes or borderline diabetes\
7 Don’t know/Not Sure\
9 Refused\
BLANK Not asked or Missing

In [133]:
df.DIABETE4.value_counts(dropna=False)

3.0    366342
1.0     57616
4.0      9942
2.0      3808
7.0       613
9.0       369
NaN         1
Name: DIABETE4, dtype: int64

We consider 2 and 4 as 'no' and we drop the row with the NaN value.

In [134]:
df = df.dropna(subset=['DIABETE4'])

In [135]:
df.DIABETE4 = np.where(df.DIABETE4.isin([1]),'Yes', df.DIABETE4)

In [136]:
df.DIABETE4 = np.where(df.DIABETE4.isin(['2.0', '3.0', '4.0']),'No', df.DIABETE4)

In [137]:
df.DIABETE4 = np.where(df.DIABETE4.isin(['7.0', '9.0']),'Unknown', df.DIABETE4)

In [138]:
df.DIABETE4.value_counts(dropna=False)

No         380092
Yes         57616
Unknown       982
Name: DIABETE4, dtype: int64

In [139]:
df = df.rename(columns={'DIABETE4':'diabetes'})

### INSULIN1
Are you now taking insulin?\
1 Yes \
2 No \
7 Don’t know/Not Sure \
9 Refused \
BLANK Not asked or Missing

In [140]:
df.INSULIN1.value_counts(dropna=False)

NaN    416452
2.0     14815
1.0      7355
7.0        58
9.0        10
Name: INSULIN1, dtype: int64

Here the question has been asked only to diabetic people.\
We can't replace the NaN values just by 'Non diabetic' because among the people who were not asked, some values were not known regarding the diabetic status, so we gonna replace it by 'Probably not diabetic' and add 7 and 9 as well.

In [141]:
df.INSULIN1 = np.where(df.INSULIN1.isin([7, 9, np.NaN]),'Probably not diabetic', df.INSULIN1)

In [142]:
df.INSULIN1.value_counts(dropna=False).index

Index(['Probably not diabetic', '2.0', '1.0'], dtype='object')

In [143]:
df.INSULIN1 = np.where(df.INSULIN1.isin(['1.0']),'Yes', df.INSULIN1)

In [144]:
df.INSULIN1 = np.where(df.INSULIN1.isin(['2.0']),'No', df.INSULIN1)

In [145]:
df.INSULIN1.value_counts(dropna=False)

Probably not diabetic    416520
No                        14815
Yes                        7355
Name: INSULIN1, dtype: int64

In [146]:
df = df.rename(columns={'INSULIN1':'insulin'})

### _ASTHMS1
Asthma status\
1 Current\
2 Former\
3 Never\
9 Don’t know/Not Sure Or Refused/Missing

In [147]:
df._ASTHMS1.value_counts(dropna=False)

3.0    375444
1.0     42660
2.0     17030
9.0      3556
Name: _ASTHMS1, dtype: int64

In [148]:
df._ASTHMS1 = np.where(df._ASTHMS1.isin([1]),'Current', df._ASTHMS1)

In [149]:
df._ASTHMS1 = np.where(df._ASTHMS1.isin(['2.0']),'Former', df._ASTHMS1)

In [150]:
df._ASTHMS1 = np.where(df._ASTHMS1.isin(['3.0']),'Never', df._ASTHMS1)

In [151]:
df._ASTHMS1 = np.where(df._ASTHMS1.isin(['9.0']),'Unknown', df._ASTHMS1)

In [152]:
df._ASTHMS1.value_counts(dropna=False)

Never      375444
Current     42660
Former      17030
Unknown      3556
Name: _ASTHMS1, dtype: int64

In [153]:
df = df.rename(columns={'_ASTHMS1':'asthma'})

### ADDEPEV3
Ever told you had a depressive disorder (including depression, major depression, dysthymia, or minor
depression)?\
1 Yes \
2 No \
7 Don’t know/Not sure \
9 Refused \
BLANK Not asked or Missing

In [154]:
df.ADDEPEV3.value_counts(dropna=False)

2.0    350778
1.0     85398
7.0      1814
9.0       700
Name: ADDEPEV3, dtype: int64

In [155]:
df.ADDEPEV3 = np.where(df.ADDEPEV3.isin([1]),'Yes', df.ADDEPEV3)

In [156]:
df.ADDEPEV3 = np.where(df.ADDEPEV3.isin(['2.0']),'No', df.ADDEPEV3)

In [157]:
df.ADDEPEV3 = np.where(df.ADDEPEV3.isin(['7.0', '9.0']),'Unknown', df.ADDEPEV3)

In [158]:
df.ADDEPEV3.value_counts(dropna=False)

No         350778
Yes         85398
Unknown      2514
Name: ADDEPEV3, dtype: int64

In [159]:
df = df.rename(columns={'ADDEPEV3':'depression'})

### _SMOKER3
Smoker status: \
1 Current smoker - now smokes every day\
2 Current smoker - now smokes some days\
3 Former smoker\
4 Never smoked\
9 Don’t know/Refused/Missing

In [160]:
df._SMOKER3.value_counts(dropna=False)

4.0    246644
3.0    113247
1.0     38913
9.0     24967
2.0     14919
Name: _SMOKER3, dtype: int64

In [161]:
df._SMOKER3 = np.where(df._SMOKER3.isin([1, 2]),'Current smoker', df._SMOKER3)

In [162]:
df._SMOKER3 = np.where(df._SMOKER3.isin(['3.0']),'Former smoker', df._SMOKER3)

In [163]:
df._SMOKER3 = np.where(df._SMOKER3.isin(['4.0']),'Never smoked', df._SMOKER3)

In [164]:
df._SMOKER3 = np.where(df._SMOKER3.isin(['9.0']),'Unknown', df._SMOKER3)

In [165]:
df._SMOKER3.value_counts(dropna=False)

Never smoked      246644
Former smoker     113247
Current smoker     53832
Unknown            24967
Name: _SMOKER3, dtype: int64

In [166]:
df = df.rename(columns={'_SMOKER3':'smoker'})

### DROCDY3_
Drink-occasions-per-day\
0 No Drink-Occasions per day\
1 - 899 Drink-Occasions per day\
900 Don’t know/Not Sure Or Refused/Missing

In [167]:
df.DROCDY3_.value_counts(dropna=False)

5.397605e-79    196872
3.000000e+00     32386
9.000000e+02     30586
7.000000e+00     24986
1.000000e+02     22096
1.400000e+01     18087
1.000000e+01     14358
2.900000e+01     13097
1.300000e+01     11801
1.700000e+01     11780
3.300000e+01      9528
4.300000e+01      9071
5.000000e+01      7441
6.700000e+01      7313
5.700000e+01      4288
2.000000e+01      4218
7.100000e+01      3960
2.700000e+01      3550
8.300000e+01      3119
2.300000e+01      3078
4.000000e+01      1940
8.600000e+01      1316
9.300000e+01       920
4.700000e+01       594
9.700000e+01       365
3.000000e+01       280
9.000000e+01       244
5.300000e+01       243
8.000000e+01       240
7.000000e+01       233
6.000000e+01       229
7.300000e+01       177
8.700000e+01       157
7.700000e+01        72
3.700000e+01        49
6.300000e+01        16
Name: DROCDY3_, dtype: int64

We gonna divide it in 3 categories : 
- Don't drink every day
- Drink every day
- Unknown

In [168]:
df.DROCDY3_ = np.where(df.DROCDY3_.between(1,899),'Drink every day', df.DROCDY3_)

In [169]:
df.DROCDY3_.value_counts(dropna=False).index

Index(['Drink every day', '5.397605346934028e-79', '900.0'], dtype='object')

In [170]:
df.DROCDY3_ = np.where(df.DROCDY3_.isin(['5.397605346934028e-79']),"Don't drink every day", df.DROCDY3_)

In [171]:
df.DROCDY3_ = np.where(df.DROCDY3_.isin(['900.0']),"Unknown", df.DROCDY3_)

In [172]:
df.DROCDY3_.value_counts(dropna=False)

Drink every day          211232
Don't drink every day    196872
Unknown                   30586
Name: DROCDY3_, dtype: int64

In [173]:
df = df.rename(columns={'DROCDY3_':'alcohol'})

### FRNCHDA_
French Fry intake in times per day\
0 - 9999 Times per day (two implied decimal places) \
BLANK Don’t know/Not Sure Or Refused/Missing

In [ ]:
pd.set_option('display.max_rows',None)
df.FRNCHDA_.value_counts(dropna=False)

We divide by 100 since there are two implied decimal places.

In [175]:
df.FRNCHDA_ = df.FRNCHDA_/100

In [ ]:
df.FRNCHDA_.value_counts(dropna=False)

Then we are gonna split it in 3 categories : 
- people who eat french fries at least 2 times a week
- people who eat french french less than 2 times a week 
- unknown

In [177]:
df.FRNCHDA_ = np.where((df.FRNCHDA_ >= 0.33),'≥ 2/week', df.FRNCHDA_)

In [178]:
df.FRNCHDA_.value_counts()

≥ 2/week                 76207
0.14                     70047
5.397605346934028e-81    57327
nan                      44762
0.07                     44441
0.29                     44334
0.03                     37758
0.1                      18946
0.13                     12417
0.17                     12156
0.02                     12127
0.2                       3608
0.23                      2245
0.27                      2142
0.3                        173
Name: FRNCHDA_, dtype: int64

In [179]:
df.FRNCHDA_ = np.where(df.FRNCHDA_.isin(['nan']),"Unknown", df.FRNCHDA_)

In [180]:
df.FRNCHDA_.value_counts()

≥ 2/week                 76207
0.14                     70047
5.397605346934028e-81    57327
Unknown                  44762
0.07                     44441
0.29                     44334
0.03                     37758
0.1                      18946
0.13                     12417
0.17                     12156
0.02                     12127
0.2                       3608
0.23                      2245
0.27                      2142
0.3                        173
Name: FRNCHDA_, dtype: int64

In [181]:
df.FRNCHDA_ = np.where((df.FRNCHDA_ != '≥ 2/week') & (df.FRNCHDA_ != 'Unknown'), '< 2/week', df.FRNCHDA_)

In [182]:
df.FRNCHDA_.value_counts()

< 2/week    317721
≥ 2/week     76207
Unknown      44762
Name: FRNCHDA_, dtype: int64

In [183]:
df = df.rename(columns={'FRNCHDA_':'french_fries'})

### _FRUTSU1
Total fruits consumed per day\
0 - 99998 Number of Fruits consumed per day (two implied
decimal places)\
BLANK Not asked or Missing

### _VEGESU1
Total vegetables consumed per day\
0 - 99998 Number of Vegetables consumed per day (two
implied decimal places)\
BLANK Not asked or Missing

We will combine both columns '_FRUTSU1' and '_VEGESU1' into 1 column

In [184]:
df['fruit_vegetable'] = (df['_FRUTSU1'] + df['_VEGESU1'])

In [ ]:
df.fruit_vegetable.value_counts()

We divide by 100 since there are two implied decimal places.

In [186]:
df.fruit_vegetable = df.fruit_vegetable/100

In [ ]:
df.fruit_vegetable.value_counts(dropna=False)

Then we are gonna split it in 3 categories : 
- people who eat at least 5 fruit or vegetable per day
- people who eat less than 5 fruit or vegetable per day 
- unknown

In [188]:
df.fruit_vegetable = np.where((df.fruit_vegetable >= 5),'≥ 5/day', df.fruit_vegetable)

In [ ]:
df.fruit_vegetable.value_counts()

In [190]:
df.fruit_vegetable = np.where(df.fruit_vegetable.isin(['nan']),"Unknown", df.fruit_vegetable)

In [191]:
df.fruit_vegetable = np.where((df.fruit_vegetable != '≥ 5/day') & (df.fruit_vegetable != 'Unknown'), '< 5/day', df.fruit_vegetable)

In [192]:
df.fruit_vegetable.value_counts(dropna=False)

< 5/day    312191
Unknown     68696
≥ 5/day     57803
Name: fruit_vegetable, dtype: int64

Now we drop the columns '_FRUTSU1' and '_VEGESU1'

In [193]:
df = df.drop(['_FRUTSU1', '_VEGESU1'], axis=1)

### _TOTINDA
Adults who reported doing physical activity or exercise during the past 30 days other than their regular job\
1 Had physical activity or exercise\
2 No physical activity or exercise in last 30 days\
9 Don’t know/Refused/Missing

In [194]:
df._TOTINDA.value_counts(dropna=False)

1.0    330738
2.0    107026
9.0       926
Name: _TOTINDA, dtype: int64

In [195]:
df._TOTINDA = np.where(df._TOTINDA.isin([1]),'Yes', 'No')

In [196]:
df._TOTINDA.value_counts(dropna=False)

Yes    330738
No     107952
Name: _TOTINDA, dtype: int64

In [197]:
df = df.rename(columns={'_TOTINDA':'physical_activity'})

### _LMTACT3
Limited usual activities\
1 Told have arthritis and have limited usual
activities\
2 Told have arthritis and no limited usual
activities\
3 Not told they have arthritis\
9 Don´t know, refused or missing usual activities\
BLANK Don´t know, refused or missing arthritis or not
asked

In [198]:
df._LMTACT3.value_counts(dropna=False)

3.0    293256
2.0     82490
1.0     58629
NaN      2893
9.0      1422
Name: _LMTACT3, dtype: int64

In [199]:
df._LMTACT3 = np.where(df._LMTACT3.isin([1]),'Yes', df._LMTACT3)

In [200]:
df._LMTACT3 = np.where(df._LMTACT3.isin(['2.0', '3.0']),'No', df._LMTACT3)

In [201]:
df._LMTACT3.value_counts(dropna=False).index

Index(['No', 'Yes', 'nan', '9.0'], dtype='object')

In [202]:
df._LMTACT3 = np.where(df._LMTACT3.isin(['9.0', 'nan']),'Unknown', df._LMTACT3)

In [203]:
df._LMTACT3.value_counts(dropna=False)

No         375746
Yes         58629
Unknown      4315
Name: _LMTACT3, dtype: int64

In [204]:
df = df.rename(columns={'_LMTACT3':'limited_usual_activities'})

### _IMPRACE
Imputed race/ethnicity value\
1 White, Non-Hispanic \
2 Black, Non-Hispanic \
3 Asian, Non-Hispanic \
4 American Indian/Alaskan Native, Non-Hispanic \
5 Hispanic \
6 Other race, Non-Hispanic

In [205]:
df._IMPRACE.value_counts(dropna=False)

1.0    332219
5.0     38688
2.0     33132
6.0     15684
3.0     11557
4.0      7410
Name: _IMPRACE, dtype: int64

In [206]:
df._IMPRACE = np.where(df._IMPRACE.isin([1]),'White', df._IMPRACE)

In [207]:
df._IMPRACE = np.where(df._IMPRACE.isin(['2.0']),'Black', df._IMPRACE)

In [208]:
df._IMPRACE = np.where(df._IMPRACE.isin(['5.0']),'Hispanic', df._IMPRACE)

In [209]:
df._IMPRACE = np.where(df._IMPRACE.isin(['6.0', '3.0', '4.0']),'Other', df._IMPRACE)

In [210]:
df._IMPRACE.value_counts(dropna=False)

White       332219
Hispanic     38688
Other        34651
Black        33132
Name: _IMPRACE, dtype: int64

In [211]:
df = df.rename(columns={'_IMPRACE':'ethnicity'})

In [212]:
df = df.rename(columns={'_AGE80':'age'})

In [222]:
df.head()

,sex,age,population,general_health,ethnicity,income,education,doctor_access,checkup,hypertension,anti_hypertensive,heart_attack,coronary_disease,heart_disease,stroke,cholesterol,diabetes,insulin,asthma,depression,smoker,alcohol,french_fries,physical_activity,limited_usual_activities,fruit_vegetable
0,F,70.0,≥ 50.000,1.0,White,"25,000 to < 35,000",Graduated High School,No problem to see a doctor,No chek up within the last year,No,No,No,No,No,No,Yes,No,Probably not diabetic,Current,No,Former smoker,Don't drink every day,≥ 2/week,No,No,< 5/day
1,F,67.0,≥ 50.000,3.0,Black,Unknown,Graduated from College or Technical School,No problem to see a doctor,Chek up within the last year,Yes,Yes,No,Yes,Yes,No,Yes,Yes,Probably not diabetic,Never,No,Never smoked,Don't drink every day,< 2/week,Yes,Yes,< 5/day
2,F,72.0,≥ 50.000,4.0,Black,"15,000 to < 25,000",Graduated High School,No problem to see a doctor,Chek up within the last year,Yes,Yes,No,Yes,Yes,No,No,Yes,Probably not diabetic,Never,No,Never smoked,Don't drink every day,< 2/week,No,No,< 5/day
3,F,62.0,≥ 50.000,4.0,White,"50,000 to < 75,000",Graduated High School,No problem to see a doctor,Chek up within the last year,Yes,Yes,No,No,No,No,Yes,Yes,Probably not diabetic,Never,No,Never smoked,Drink every day,≥ 2/week,Yes,No,< 5/day
4,M,76.0,< 50.000,1.0,Other,"15,000 to < 25,000",Did not graduate High School,No problem to see a doctor,Chek up within the last year,No,No,Yes,Unknown,Yes,Yes,Yes,Yes,Probably not diabetic,Never,No,Never smoked,Don't drink every day,< 2/week,Yes,No,< 5/day

In [223]:
df.to_csv('health2021_cleaned.csv', index=False)

In [225]:
df.isna().sum()

sex                         0
age                         0
population                  0
general_health              0
ethnicity                   0
income                      0
education                   0
doctor_access               0
checkup                     0
hypertension                0
anti_hypertensive           0
heart_attack                0
coronary_disease            0
heart_disease               0
stroke                      0
cholesterol                 0
diabetes                    0
insulin                     0
asthma                      0
depression                  0
smoker                      0
alcohol                     0
french_fries                0
physical_activity           0
limited_usual_activities    0
fruit_vegetable             0
dtype: int64